.aboutContainer {
    user-select: none;
    width: 100vw;   
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;   
    perspective: 50px;
    overflow: hidden;
    /* color: white;
    background-color: black; */
    /* animation: retroRainbow infinite 16s ; */    
}

.frame{ 
 width: 1000px;
 height: 1000px;
 position: absolute;
 border-radius: 50%;
 border: 5px solid #1ec1e2;
 box-shadow: 0px 0px 20px #1ec1e2, inset 0px 0px 20px #1ec1e2,
 0px 0px 60px #fc00ff, inset 0px 0px 60px #fc00ff;  
 filter: brightness(1.5) contrast(3);     
 animation: breath 4s ease-out infinite;
}

.frame:nth-child(1) {
    transform: scale(1,1);
    opacity: 1;
    animation-delay: 0.2s;
}
.frame:nth-child(2) {
    transform: scale(0.9,0.9);
    opacity: 0.9;
    animation-delay: 0.4s;
}
.frame:nth-child(3) {
    transform: scale(0.8,0.8);
    opacity: 0.8;
    animation-delay: 0.6s;
}
.frame:nth-child(4) {
    transform: scale(0.7,0.7);
    opacity: 0.7;
    animation-delay: 0.8s;
}
.frame:nth-child(5) {
    transform: scale(0.6,0.6);
    opacity: 0.6;
    animation-delay: 1s;
}
.frame:nth-child(6) {
    transform: scale(0.5,0.5);
    opacity: 0.5;
    animation-delay: 1.2s;
}
.frame:nth-child(7) {
    transform: scale(0.4,0.4);
    opacity: 0.4;
    animation-delay: 1.4s;
}
.frame:nth-child(8) {
    transform: scale(0.3,0.3);
    opacity: 0.3;
    animation-delay: 1.6s;
}
.frame:nth-child(9) {
    transform: scale(0.2,0.2);
    opacity: 0.2;
    animation-delay: 1.8;
}
.frame:nth-child(10) {
    transform: scale(0.1,0.1);
    opacity: 0.1;
    animation-delay: 2s;
}
@keyframes breath {
    0% {
        filter: contrast(2) brightness(3);
    }
    50% {
        filter: contrast(1) brightness(1);
    }
    100% {
        filter: contrast(2) brightness(3);
    }
}
    
@keyframes retroRainbow {
    0% {
        background-color: rgba(216, 215, 185,0.2)
    }
    17% {
        background-color: rgba(205, 171, 129,0.2)
    }
    34% {
        background-color: rgba(193, 126, 155,0.2)
    }
    57% {
        background-color: rgba(110, 107, 159,0.2)
    }
    74% {
        background-color: rgba(115, 151, 170,0.2)
    }
    87% {
        background-color: rgba(135, 177, 145,0.2)
    }
    100% {
        background-color: rgba(216, 215, 185,0.2)
    }
    
}
.briefContainer {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.nameActive {
    position: absolute;
    font-size: 100px;
    animation-name: nameFadeIn;
    animation-duration: 2s;
    transition: 2s;
    top: 300px;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

.skillActive {
    font-size: 2em;
    position: absolute;
    top: 420px;
    animation-name: skillFadeIn;
    animation-duration: 4s;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

@keyframes nameFadeIn {
    0% {
        opacity: 0;
        top: 50%;
        margin-top: -0.5em;
        left: auto;
    }
    50% {
        opacity: 1;
        top: 50%;
        margin-top: -0.5em;
        left: auto;
    }
    100% {
        opacity: 1;
        top: 300px;
        margin-top: 0;
        left: auto;
    }
}

@keyframes skillFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.educationContainer {
    width: 80vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.educationIllustration {
    user-select: none;    
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 50%;
}

.educationList {
    margin-right: 10px;
    user-select: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experienceContainer {
    width: 80vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.experienceIllustration {
    user-select: none;
    width: 50%;
}

.experienceList {       
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.educationTimeline {
    margin-left: 10em;
    border-left: solid 0.25em #6c63ff;
    border-radius: 0.5em;
}

.event {
    display: flex;
    min-width: 20em;
    width: 100%;    
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    position: relative;
}
.content {
    margin: 2px 0px;
}

.dot {
    height: 15px;
    width: 15px;
    position: absolute;
    left: -53px;
    top: 17px;
    border-radius: 50%;    
    background-color: white;
    border: #f55f44 solid 4px;
}

.time {
    position: absolute;
    left: -190px;
    top: 17px;
    font-weight: bold;
}

.description {
    color: #333 ;
}

@media only screen and (max-width: 800px) {
    .nameActive {
        font-size: 75px;
    }
    .skillActive {
        top: 395px;
    }
}

@media only screen and (max-width: 500px) {
    .nameActive {
        font-size: 45px;
        top: 200px;
    }
    .skillActive {
        top: 250px;
        font-size: 1.25em;
    }
    @keyframes nameFadeIn {
        0% {
            opacity: 0;
            top: 50%;
            margin-top: -0.5em;
            left: auto;
        }
        50% {
            opacity: 1;
            top: 50%;
            margin-top: -0.5em;
            left: auto;
        }
        100% {
            opacity: 1;
            top: 200px;
            margin-top: 0;
            left: auto;
        }
    }
}