.aboutContainer {
    user-select: none;
    width: 100vw;
    background-image: radial-gradient( circle 200em at -5.8% 1.8%,  rgba(255,255,255,1) 0%, rgba(214, 169, 250, 0.486) 100.3% );
}
.briefContainer {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nameActive {
    position: absolute;
    font-size: 100px;
    animation-name: nameFadeIn;
    animation-duration: 2s;
    transition: 2s;
    top: 300px;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

.skillActive {
    font-size: 2em;
    position: absolute;
    top: 420px;
    animation-name: skillFadeIn;
    animation-duration: 4s;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}

@keyframes nameFadeIn {
    0% {
        opacity: 0;
        top: 50%;
        margin-top: -0.5em;
        left: auto;
    }
    50% {
        opacity: 1;
        top: 50%;
        margin-top: -0.5em;
        left: auto;
    }
    100% {
        opacity: 1;
        top: 300px;
        margin-top: 0;
        left: auto;
    }
}

@keyframes skillFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.educationContainer {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;    
}

.educationIllustration {
    user-select: none;    
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 60%;
}

.educationList {
    margin-right: 10px;
    user-select: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.experienceContainer {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.experienceIllustration {
    user-select: none;
    width: 50%;
}

.experienceList {       
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.event {
    display: flex;
    min-width: 20em;
    width: 100%;    
}

.educationTimeline {
    border-radius: 0.5em;
    margin-left: 10em;
    border-left: solid 0.25em red;
}

.eventTime {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 800px) {
    .nameActive {
        font-size: 75px;
    }
    .skillActive {
        top: 395px;
    }
}

@media only screen and (max-width: 500px) {
    .nameActive {
        font-size: 45px;
    }
    .skillActive {
        top: 350px;
        font-size: 1.25em;
    }
}