.container {
    margin: 25px 0px;
    width: 100%;
}

.card {
    margin: 2% 2% !important
}

.infected {
    color: rgb(255, 158, 110) !important;
    background-color: rgba(255, 158, 110, 0.1) !important;
    border-radius: 15px !important ;    
}
/* .infected:hover {
    box-shadow: 5px 5px 10px 10px rgba(255, 158, 110, 0.5);
} */
.recovered {
    color: rgb(153, 204, 51) !important;
    background-color: rgba(153, 204, 51, 0.1) !important;
    border-radius: 15px !important ;    
}
/* .recovered:hover {
    box-shadow: 0px 10px 10px 10px rgba(153, 204, 51, 0.5);
} */
.deaths {
    color: rgb(252, 0, 0) !important;
    background-color: rgba(252, 0, 0, 0.1) !important;
    border-radius: 15px !important ;    
}
/* .deaths:hover {
    box-shadow: -10px 10px 10px 10px rgba(252, 0, 0, 0.5);
} */